.row
  .large-10.columns.large-centered#jobhome
    -if current_user.jobs.present?
      %h1 My jobs
      %table
        %th Title
        %th Company
        %th Location
        %th Description
        %th
        %th
        %section.tbody
          =render 'jobs'
    -else
      %h4
        You currently have no saved jobs!
      %h4
        =link_to("Explore a Career",careers_path)