- prep = (current_user.edconvert..5).to_a
- preplevels = prep.join(',')

.row.full.hide-for-medium-down{ style: 'border-bottom: 1px solid #ddd;' }

#filterblock.hide{'data-gfilter'=>"All", 'data-efilter'=>"All"}
.row
  .large-12.columns.instructions_filter
    #loadings.border_filters
      %h3.inline{ style: 'text-align: center; margin: 50px 0;' } Use the filter settings to pull in careers sorted by your interests.

.row.total-filter-dropdown
  =form_tag "/careers/filter",:method=>'get',:remote=>true do
    .large-4.columns.filter.inline{'data-intro'=>"Restrict careers to certain levels of preparation where 1 is little training and 5 usually indicates at least a masters.", 'data-position'=>"top"}
      %p Preparation Level
      =hidden_field(:prep,:values)
      %input{type:"text", id:"prep-amount", style:"border: 1px solid #ddd; color: #f6931f; box-shadow: none;"}
      #prep-range
    .large-4.columns.filter.inline{'data-intro'=>"Filter by growth requirements where 1 is negative growth and 5 is very high growth.", 'data-position'=>"top"}
      %p Growth Filter
      =hidden_field(:growth,:values)
      %input{type:"text", id:"growth-amount", style:"border: 1px solid #ddd; color: #f6931f; box-shadow: none;"}
      #growth-range
    .large-3.columns
      =button_tag("Start Matching!",:class=>"button expand", :id=>'refilter', style: 'padding: 25px 0; margin: 45px 0 25px;')
    .large-1.columns
      #more_info
        ?
.row
  #list.large-12.columns.career-list
    .row#careerblock
      = render partial: 'careerblock' if @careers

%script
  $('#growth_values').val('4,5')
  $('#prep_values').val("#{preplevels}")


