.row
  .large-12.columns
    .row
      .large-10.centered.columns.title
        %h4=@career.title
    .row
      .large-7.columns
        %h5 Description:
        %p=@career.tasks
        %h5 Education:
        %p= @career.zone.education
      .large-5.centered.columns
        %h5 Wages:
        -t = @career.trend
        =t.wages
        %h5 Growth:
        %span{:class=>'growth'+@career.growth_num.to_s}=t.growth
        %h5 Openings:
        =t.openings
        %h5 Industries
        =t.industries
    .row
      .large-12.columns
        -if @response['results'].present?
          .searched
            %h3
              .params.inline=@response['query']
              .location.inline=@response['location']
          %table
            %th Title
            %th Company
            %th Location
            %th Posted
            %th Description
            %th
            -@response['results'].each do |job|
              %tr
                %td=job['jobtitle']
                %td=job['company']
                %td=job['formattedLocation']
                %td=time_ago_in_words(job['date']) + " a go."
                %td!=job['snippet'].gsub("<b>","")
                %td!=link_to("View",job['url'],:id=>job['jobkey'] ,:target=>"_blank",:class=>'button tiny')
        -else
          %h4
            No Jobs Currently Found.
          %h6
            =link_to("Check out another Career!",careers_path)




  /   .interests
  /   .zone
  /     %h3
  /     ='Zone Info:'
  /     .znum= @career.zone_num
  /     .ztitle= @career.zone.title
  /     .z
  /     .zexperience= @career.zone.experience
  /     .zexperience= @career.zone.training
  / .large-4.columns.dash-block
