.row.explainer
  .large-12.columns
    %h3 Compare & Explore Careers
    %h5 Select a career from the list to learn more detailed information about it. Or, select multiple careers and Emma will help you compare them to decide the best match.

.row.careers-list{ :'data-color' => "#{@user.show_color(@user.get_top_interests[5])}" }
  .large-12.columns.career_span_block
    - if @auth.careers.count > 0
      - @auth.careers.each do |career|
        %span{ :'data-career-id' => career.id }= career.title
    - else
      %h3
        = link_to('Explore', careers_path)
        careers to begin comparing
.compare-careers
  = render partial: 'users/my_careers/compare_careers'
