<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>CareerCatch 2013</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://nycbigapps.com/project/142/OkCupid-for-Your-Career">About</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="http://nycbigapps.com/project/142/OkCupid-for-Your-Career">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- <li>Icons by <a href="http://thenounproject.com/alexfuller" class="" title="Icons designed by  from The Noun Project" target="_blank">Alex Fuller</a> and <a href="http://thenounproject.com/tgines" target="_blank">Tony Gines</a> from The Noun Project <a href="http://thenounproject.com/noun/folder/#icon-No2811" target="_blank">Folder</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project -->