<form action="RIASEC.php" method="POST">
<table id="page1" width="600px" align="center" cellspacing="0">
<tbody><tr>
<td width="350px">
</td><td width="50px" align="center">Dislike</td>
<td width="50px">
</td><td width="50px">Neutral</td>
<td width="50px">
</td><td width="50px" align="center">Enjoy</td>
</tr>



<tr style="background-color:#E0E0B0;">
<td>
Test the quality of parts before shipment
</td>
<td align="center"><input type="radio" name="R1" value="1"></td>
<td align="center"><input type="radio" name="R1" value="2"></td>
<td align="center"><input type="radio" name="R1" value="3"></td>
<td align="center"><input type="radio" name="R1" value="4"></td>
<td align="center"><input type="radio" name="R1" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Study the structure of the human body
</td>
<td align="center"><input type="radio" name="I1" value="1"></td>
<td align="center"><input type="radio" name="I1" value="2"></td>
<td align="center"><input type="radio" name="I1" value="3"></td>
<td align="center"><input type="radio" name="I1" value="4"></td>
<td align="center"><input type="radio" name="I1" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Conduct a musical choir
</td>
<td align="center"><input type="radio" name="A1" value="1"></td>
<td align="center"><input type="radio" name="A1" value="2"></td>
<td align="center"><input type="radio" name="A1" value="3"></td>
<td align="center"><input type="radio" name="A1" value="4"></td>
<td align="center"><input type="radio" name="A1" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Give career guidance to people
</td>
<td align="center"><input type="radio" name="S1" value="1"></td>
<td align="center"><input type="radio" name="S1" value="2"></td>
<td align="center"><input type="radio" name="S1" value="3"></td>
<td align="center"><input type="radio" name="S1" value="4"></td>
<td align="center"><input type="radio" name="S1" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Sell restaurant franchises to individuals
</td>
<td align="center"><input type="radio" name="E1" value="1"></td>
<td align="center"><input type="radio" name="E1" value="2"></td>
<td align="center"><input type="radio" name="E1" value="3"></td>
<td align="center"><input type="radio" name="E1" value="4"></td>
<td align="center"><input type="radio" name="E1" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Generate the monthly payroll checks for an office
</td>
<td align="center"><input type="radio" name="C1" value="1"></td>
<td align="center"><input type="radio" name="C1" value="2"></td>
<td align="center"><input type="radio" name="C1" value="3"></td>
<td align="center"><input type="radio" name="C1" value="4"></td>
<td align="center"><input type="radio" name="C1" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Lay brick or tile
</td>
<td align="center"><input type="radio" name="R2" value="1"></td>
<td align="center"><input type="radio" name="R2" value="2"></td>
<td align="center"><input type="radio" name="R2" value="3"></td>
<td align="center"><input type="radio" name="R2" value="4"></td>
<td align="center"><input type="radio" name="R2" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Study animal behavior
</td>
<td align="center"><input type="radio" name="I2" value="1"></td>
<td align="center"><input type="radio" name="I2" value="2"></td>
<td align="center"><input type="radio" name="I2" value="3"></td>
<td align="center"><input type="radio" name="I2" value="4"></td>
<td align="center"><input type="radio" name="I2" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Direct a play
</td>
<td align="center"><input type="radio" name="A2" value="1"></td>
<td align="center"><input type="radio" name="A2" value="2"></td>
<td align="center"><input type="radio" name="A2" value="3"></td>
<td align="center"><input type="radio" name="A2" value="4"></td>
<td align="center"><input type="radio" name="A2" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Do volunteer work at a non-profit organization
</td>
<td align="center"><input type="radio" name="S2" value="1"></td>
<td align="center"><input type="radio" name="S2" value="2"></td>
<td align="center"><input type="radio" name="S2" value="3"></td>
<td align="center"><input type="radio" name="S2" value="4"></td>
<td align="center"><input type="radio" name="S2" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Sell merchandise at a department store
</td>
<td align="center"><input type="radio" name="E2" value="1"></td>
<td align="center"><input type="radio" name="E2" value="2"></td>
<td align="center"><input type="radio" name="E2" value="3"></td>
<td align="center"><input type="radio" name="E2" value="4"></td>
<td align="center"><input type="radio" name="E2" value="5"></td>

</tr><tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Inventory supplies using a hand-held computer
</td>
<td align="center"><input type="radio" name="C2" value="1"></td>
<td align="center"><input type="radio" name="C2" value="2"></td>
<td align="center"><input type="radio" name="C2" value="3"></td>
<td align="center"><input type="radio" name="C2" value="4"></td>
<td align="center"><input type="radio" name="C2" value="5"></td>

</tr>

<tr style="background-color:#E0E0B0;">
<td>
Work on an offshore oil-drilling rig
</td>
<td align="center"><input type="radio" name="R3" value="1"></td>
<td align="center"><input type="radio" name="R3" value="2"></td>
<td align="center"><input type="radio" name="R3" value="3"></td>
<td align="center"><input type="radio" name="R3" value="4"></td>
<td align="center"><input type="radio" name="R3" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Do research on plants or animals
</td>
<td align="center"><input type="radio" name="I3" value="1"></td>
<td align="center"><input type="radio" name="I3" value="2"></td>
<td align="center"><input type="radio" name="I3" value="3"></td>
<td align="center"><input type="radio" name="I3" value="4"></td>
<td align="center"><input type="radio" name="I3" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Design artwork for magazines
</td>
<td align="center"><input type="radio" name="A3" value="1"></td>
<td align="center"><input type="radio" name="A3" value="2"></td>
<td align="center"><input type="radio" name="A3" value="3"></td>
<td align="center"><input type="radio" name="A3" value="4"></td>
<td align="center"><input type="radio" name="A3" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Help people who have problems with drugs or alcohol
</td>
<td align="center"><input type="radio" name="S3" value="1"></td>
<td align="center"><input type="radio" name="S3" value="2"></td>
<td align="center"><input type="radio" name="S3" value="3"></td>
<td align="center"><input type="radio" name="S3" value="4"></td>
<td align="center"><input type="radio" name="S3" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Manage the operations of a hotel
</td>
<td align="center"><input type="radio" name="E3" value="1"></td>
<td align="center"><input type="radio" name="E3" value="2"></td>
<td align="center"><input type="radio" name="E3" value="3"></td>
<td align="center"><input type="radio" name="E3" value="4"></td>
<td align="center"><input type="radio" name="E3" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Use a computer program to generate customer bills
</td>
<td align="center"><input type="radio" name="C3" value="1"></td>
<td align="center"><input type="radio" name="C3" value="2"></td>
<td align="center"><input type="radio" name="C3" value="3"></td>
<td align="center"><input type="radio" name="C3" value="4"></td>
<td align="center"><input type="radio" name="C3" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Assemble electronic parts
</td>
<td align="center"><input type="radio" name="R4" value="1"></td>
<td align="center"><input type="radio" name="R4" value="2"></td>
<td align="center"><input type="radio" name="R4" value="3"></td>
<td align="center"><input type="radio" name="R4" value="4"></td>
<td align="center"><input type="radio" name="R4" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Develop a new medical treatment or procedure
</td>
<td align="center"><input type="radio" name="I4" value="1"></td>
<td align="center"><input type="radio" name="I4" value="2"></td>
<td align="center"><input type="radio" name="I4" value="3"></td>
<td align="center"><input type="radio" name="I4" value="4"></td>
<td align="center"><input type="radio" name="I4" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Write a song
</td>
<td align="center"><input type="radio" name="A4" value="1"></td>
<td align="center"><input type="radio" name="A4" value="2"></td>
<td align="center"><input type="radio" name="A4" value="3"></td>
<td align="center"><input type="radio" name="A4" value="4"></td>
<td align="center"><input type="radio" name="A4" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Teach an individual an exercise routine
</td>
<td align="center"><input type="radio" name="S4" value="1"></td>
<td align="center"><input type="radio" name="S4" value="2"></td>
<td align="center"><input type="radio" name="S4" value="3"></td>
<td align="center"><input type="radio" name="S4" value="4"></td>
<td align="center"><input type="radio" name="S4" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Operate a beauty salon or barber shop
</td>
<td align="center"><input type="radio" name="E4" value="1"></td>
<td align="center"><input type="radio" name="E4" value="2"></td>
<td align="center"><input type="radio" name="E4" value="3"></td>
<td align="center"><input type="radio" name="E4" value="4"></td>
<td align="center"><input type="radio" name="E4" value="5"></td>

</tr><tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Maintain employee records
</td>
<td align="center"><input type="radio" name="C4" value="1"></td>
<td align="center"><input type="radio" name="C4" value="2"></td>
<td align="center"><input type="radio" name="C4" value="3"></td>
<td align="center"><input type="radio" name="C4" value="4"></td>
<td align="center"><input type="radio" name="C4" value="5"></td>

</tr>



<tr style="background-color:#E0E0B0;">
<td>
Operate a grinding machine in a factory
</td>
<td align="center"><input type="radio" name="R5" value="1"></td>
<td align="center"><input type="radio" name="R5" value="2"></td>
<td align="center"><input type="radio" name="R5" value="3"></td>
<td align="center"><input type="radio" name="R5" value="4"></td>
<td align="center"><input type="radio" name="R5" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Conduct biological research
</td>
<td align="center"><input type="radio" name="I5" value="1"></td>
<td align="center"><input type="radio" name="I5" value="2"></td>
<td align="center"><input type="radio" name="I5" value="3"></td>
<td align="center"><input type="radio" name="I5" value="4"></td>
<td align="center"><input type="radio" name="I5" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Write books or plays
</td>
<td align="center"><input type="radio" name="A5" value="1"></td>
<td align="center"><input type="radio" name="A5" value="2"></td>
<td align="center"><input type="radio" name="A5" value="3"></td>
<td align="center"><input type="radio" name="A5" value="4"></td>
<td align="center"><input type="radio" name="A5" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Help people with family-related problems
</td>
<td align="center"><input type="radio" name="S5" value="1"></td>
<td align="center"><input type="radio" name="S5" value="2"></td>
<td align="center"><input type="radio" name="S5" value="3"></td>
<td align="center"><input type="radio" name="S5" value="4"></td>
<td align="center"><input type="radio" name="S5" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Manage a department within a large company
</td>
<td align="center"><input type="radio" name="E5" value="1"></td>
<td align="center"><input type="radio" name="E5" value="2"></td>
<td align="center"><input type="radio" name="E5" value="3"></td>
<td align="center"><input type="radio" name="E5" value="4"></td>
<td align="center"><input type="radio" name="E5" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Compute and record statistical and other numerical data
</td>
<td align="center"><input type="radio" name="C5" value="1"></td>
<td align="center"><input type="radio" name="C5" value="2"></td>
<td align="center"><input type="radio" name="C5" value="3"></td>
<td align="center"><input type="radio" name="C5" value="4"></td>
<td align="center"><input type="radio" name="C5" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Fix a broken faucet
</td>
<td align="center"><input type="radio" name="R6" value="1"></td>
<td align="center"><input type="radio" name="R6" value="2"></td>
<td align="center"><input type="radio" name="R6" value="3"></td>
<td align="center"><input type="radio" name="R6" value="4"></td>
<td align="center"><input type="radio" name="R6" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Study whales and other types of marine life
</td>
<td align="center"><input type="radio" name="I6" value="1"></td>
<td align="center"><input type="radio" name="I6" value="2"></td>
<td align="center"><input type="radio" name="I6" value="3"></td>
<td align="center"><input type="radio" name="I6" value="4"></td>
<td align="center"><input type="radio" name="I6" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Play a musical instrument
</td>
<td align="center"><input type="radio" name="A6" value="1"></td>
<td align="center"><input type="radio" name="A6" value="2"></td>
<td align="center"><input type="radio" name="A6" value="3"></td>
<td align="center"><input type="radio" name="A6" value="4"></td>
<td align="center"><input type="radio" name="A6" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Supervise the activities of children at a camp
</td>
<td align="center"><input type="radio" name="S6" value="1"></td>
<td align="center"><input type="radio" name="S6" value="2"></td>
<td align="center"><input type="radio" name="S6" value="3"></td>
<td align="center"><input type="radio" name="S6" value="4"></td>
<td align="center"><input type="radio" name="S6" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Manage a clothing store
</td>
<td align="center"><input type="radio" name="E6" value="1"></td>
<td align="center"><input type="radio" name="E6" value="2"></td>
<td align="center"><input type="radio" name="E6" value="3"></td>
<td align="center"><input type="radio" name="E6" value="4"></td>
<td align="center"><input type="radio" name="E6" value="5"></td>

</tr><tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Operate a calculator
</td>
<td align="center"><input type="radio" name="C6" value="1"></td>
<td align="center"><input type="radio" name="C6" value="2"></td>
<td align="center"><input type="radio" name="C6" value="3"></td>
<td align="center"><input type="radio" name="C6" value="4"></td>
<td align="center"><input type="radio" name="C6" value="5"></td>

</tr>


<tr style="background-color:#E0E0B0;">
<td>
Assemble products in a factory
</td>
<td align="center"><input type="radio" name="R7" value="1"></td>
<td align="center"><input type="radio" name="R7" value="2"></td>
<td align="center"><input type="radio" name="R7" value="3"></td>
<td align="center"><input type="radio" name="R7" value="4"></td>
<td align="center"><input type="radio" name="R7" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Work in a biology lab
</td>
<td align="center"><input type="radio" name="I7" value="1"></td>
<td align="center"><input type="radio" name="I7" value="2"></td>
<td align="center"><input type="radio" name="I7" value="3"></td>
<td align="center"><input type="radio" name="I7" value="4"></td>
<td align="center"><input type="radio" name="I7" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Perform stunts for a movie or television show
</td>
<td align="center"><input type="radio" name="A7" value="1"></td>
<td align="center"><input type="radio" name="A7" value="2"></td>
<td align="center"><input type="radio" name="A7" value="3"></td>
<td align="center"><input type="radio" name="A7" value="4"></td>
<td align="center"><input type="radio" name="A7" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Teach children how to read
</td>
<td align="center"><input type="radio" name="S7" value="1"></td>
<td align="center"><input type="radio" name="S7" value="2"></td>
<td align="center"><input type="radio" name="S7" value="3"></td>
<td align="center"><input type="radio" name="S7" value="4"></td>
<td align="center"><input type="radio" name="S7" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Sell houses
</td>
<td align="center"><input type="radio" name="E7" value="1"></td>
<td align="center"><input type="radio" name="E7" value="2"></td>
<td align="center"><input type="radio" name="E7" value="3"></td>
<td align="center"><input type="radio" name="E7" value="4"></td>
<td align="center"><input type="radio" name="E7" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Handle customers bank transactions
</td>
<td align="center"><input type="radio" name="C7" value="1"></td>
<td align="center"><input type="radio" name="C7" value="2"></td>
<td align="center"><input type="radio" name="C7" value="3"></td>
<td align="center"><input type="radio" name="C7" value="4"></td>
<td align="center"><input type="radio" name="C7" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Install flooring in houses
</td>
<td align="center"><input type="radio" name="R8" value="1"></td>
<td align="center"><input type="radio" name="R8" value="2"></td>
<td align="center"><input type="radio" name="R8" value="3"></td>
<td align="center"><input type="radio" name="R8" value="4"></td>
<td align="center"><input type="radio" name="R8" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Make a map of the bottom of an ocean
</td>
<td align="center"><input type="radio" name="I8" value="1"></td>
<td align="center"><input type="radio" name="I8" value="2"></td>
<td align="center"><input type="radio" name="I8" value="3"></td>
<td align="center"><input type="radio" name="I8" value="4"></td>
<td align="center"><input type="radio" name="I8" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Design sets for plays
</td>
<td align="center"><input type="radio" name="A8" value="1"></td>
<td align="center"><input type="radio" name="A8" value="2"></td>
<td align="center"><input type="radio" name="A8" value="3"></td>
<td align="center"><input type="radio" name="A8" value="4"></td>
<td align="center"><input type="radio" name="A8" value="5"></td>

</tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Help elderly people with their daily activities
</td>
<td align="center"><input type="radio" name="S8" value="1"></td>
<td align="center"><input type="radio" name="S8" value="2"></td>
<td align="center"><input type="radio" name="S8" value="3"></td>
<td align="center"><input type="radio" name="S8" value="4"></td>
<td align="center"><input type="radio" name="S8" value="5"></td>

</tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr style="background-color:#E0E0B0;">
<td>
Run a toy store
</td>
<td align="center"><input type="radio" name="E8" value="1"></td>
<td align="center"><input type="radio" name="E8" value="2"></td>
<td align="center"><input type="radio" name="E8" value="3"></td>
<td align="center"><input type="radio" name="E8" value="4"></td>
<td align="center"><input type="radio" name="E8" value="5"></td>

</tr><tr style="background-color:#E0E0B0;">
<td height="2px" colspan="6">
</td></tr>
<tr>
<td height="2px" colspan="6">
</td></tr>
<tr>
<td>
Keep shipping and receiving records
</td>
<td align="center"><input type="radio" name="C8" value="1"></td>
<td align="center"><input type="radio" name="C8" value="2"></td>
<td align="center"><input type="radio" name="C8" value="3"></td>
<td align="center"><input type="radio" name="C8" value="4"></td>
<td align="center"><input type="radio" name="C8" value="5"></td>

</tr>



<tr>
<td height="20px">
</td></tr>
<tr>
<td colspan="6" align="right">
<input type="submit" value="Continue">
<input type="hidden" name="unqid" value="5154d602580a92094991385">
<input type="hidden" name="seconds" value="1364514317">
<input type="hidden" name="page" value="2">
</td></tr>
</tbody></table>

</form>