- @auth.jobs.where( completed: false ).each do |job|
  .job{ :'data-job-id' => job.id }
    %h5
      %strong= job.name
      %br= job.company
    .row{ style: 'margin: 10px 0; display: none;' }
      .small-2.columns.small-offset-1
        .job-details
          .detail{ :'data-tooltip' => true, class: 'has-tip', title: "Added about #{time_ago_in_words(job.created_at)} ago", style: "background: url('/assets/time.svg') no-repeat center; background-size: 35%;" }
      = render partial: 'users/my_jobs/details', locals: { :job => job }
      .small-2.columns.left
        .job-details
          .detail{ id: 'job-apply', :'data-tooltip' => true, class: 'has-tip', title: "Applied!", style: "background: url('/assets/checkmark.svg') no-repeat center; background-size: 50%;" }