@import "custom_settings.scss";
.filter{
  padding: 10px;
}
#list{
}
.item{
  display: inline-block;
  border-radius: 0 10px 0 10px;
  border: 2px solid #E2F2F2;
    min-height: 50px;
  margin: 0.5%;
  a{
      color: $body-font-color !important;
      font-weight: bold;
      font-size: 1.2em;
  }
}
.bookmark{
  height: 50px;
  margin-top: 10px;
  &:hover{
    opacity: .6;
  };
}
.obar{
  border: 0.5px solid black;
  background-color: #aaa;
  display: inline-block;
  width: 5px;
  padding: 0 3px;
  &.b1{
    height: 5px;
  }
  &.b2{
    height: 10px;
  }
  &.b3{
    height: 15px;
  }
  &.b4{
    height: 20px;
  }
  &.b5{
    height: 25px;
  }
  &.bar_selected{
    background-color: green;
  }
}
.bnum{
  font-size: 2.4em;
  font-weight: bold;
}
.drag{
  margin: 5px;
  width: 20px;
  height: 20px;
}
.vertinlinecareer{
  padding-top: 30px;
}
.vertinlinenum{
  padding-top: 20px;
}

/**** Isotope CSS3 transitions ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}