@import "custom_settings.scss";

.inline{
  display: inline-block;
}

.title{
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.growth1{
  color: $red;

}.growth2{
  color: $red;
}
.growth3{
  color: $blue;
}
.growth4{
  color: darken($blue, 10%);
}
.growth5{
  color: darken($blue, 20%);
}
.interestbox{
  margin-bottom: 3px;
  padding: 5px;
  text-align: center;
}

#more{
  border: 1px grey solid;
  background-color: #efefef;
  text-align: center;
  padding: 5px;
  &:hover {
    opacity: 0.7;
  }
}
.career.item{
}