.inline{
  display: inline-block;
}

.title{
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.growth1{
  color:red;

}.growth2{
  color: #4411AA;
}
.growth3{
  color: #1144aa;
}
.growth5{
  color:green;
}
.interestbox{
  padding: 2px;
  margin-bottom: 3px;
  border: 1px black solid;
}