@import "custom_settings.scss";
#linkimage{
  position: absolute;
  top: -3px;
  right: -3px;
}

.linkedinbutton{

}

.inline{
  display: inline-block;
}

.title{
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.interestbox{
  margin-bottom: 3px;
  padding: 5px;
  text-align: center;
}

#more{
  border: 1px grey solid;
  background-color: #efefef;
  text-align: center;
  padding: 5px;
  &:hover {
    opacity: 0.7;
  }
}
