@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@import "custom_settings.scss";
@import "foundation.scss";

/// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 { font-family: 'PT Sans Narrow', sans-serif; font-weight: 400; color: $body-font-color; }
h1 {
  &.hero { font-size: 5em; text-align: center; }
  span { font-weight: 700; }
}

/// BODY LANGUAGE
body { font-family: 'Lato', sans-serif; }

/// TOP SHELF
.top-bar {
  background: none;
  text-align: center;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  & ul {
    background: none;
    display: inline-block;
    & li a:not(.button) {
      background: none;
      color: lighten($body-font-color, 10%);
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        background: $purple;
        color: #FFF;
      }
    }
  }
  .center { margin: 0 auto; }
}

/// DASHING DASHBOARDS
.dash-block {
  padding: 10px;
  text-align: center;
  h6 { margin-top: 0; }
  canvas { display: block; margin: 0 auto; }
  ul { list-style: none; }
  li { text-align: center; }
}

<<<<<<< HEAD
.down-button {
  position: fixed;
  bottom: 0;
  right: 50px;
  height: 50px;
  width: 50px;
  background: $yellow;
}

.wide-color-below {
  padding: 20px 0;
  background: darken($yellow, 5%);
  & a { color: $grey; }
}
=======

>>>>>>> 789a20b0924d39eadd30239d593a842542ed0f3e
.wide-color {
  margin: 50px 0 0;
  background: $yellow;
  .sectional-block {
    background: $yellow;
    padding: 10px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    &.hover { background: #333; }
    .sectional {
      display: table;
      min-height: 300px;
      width: 100%;
      h3 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.3em;
      }
    }
  }
}

/// JOB NAVIGATION
.job-nav {
  text-align: center;
  img {
    height: 50px;
    float: left;
  }
}