@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);

@import "custom_settings.scss";
@import "foundation.scss";

/// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; font-weight: 300; color: $body-font-color; }

h1 {
  &.hero { font-size: 5em; text-align: center; }
  span { font-weight: 700; }
}

a, a:visited, a:active { color: $orange; }

.transitions {
  -moz-webkit-transition: all 0.3s ease-in;
  -ms-webkit-transition: all 0.3s ease-in;
  -o-webkit-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

/// BODY LANGUAGE
body { font-family: 'Lato', sans-serif; }
.row.full { margin: 0; max-width: 100%; }

/// SPLASH PAGE
.splash-wrapper {
  background: url('/assets/wearemadeinnewyork.png') no-repeat center;
  .row.callout {
      padding-top: 100px;
      @media only screen and (min-width: 1280px) { padding-top: 150px; }
      text-align: center;
      width: 100%;
      max-width: none;
      & h3 {
        font-family: 'Vollkorn', serif;
        font-size: 4.5em;
        @media only screen and (max-width: 1280px) { font-size: 2em; }
        font-weight: 400;
        color: white;
        margin-bottom: 0px;
        span {
          font-family: 'Abril Fatface', cursive;
        }
      }
      & p {
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
      }
    }
  .splash {
    background: $orange;
    @media only screen and (min-width: 1280px) { margin: 15px 0 30px; }
    height: 500px;
    opacity: 0.7;
    & h3 {
      padding: 200px 0;
      font-size: 2em;
      color: white;
    }
  }
}

.interest {
  display: none;
}

.interest-image {
  background: $grey;
}

.interest-selector {
  width: 100%;
  background: #efefef;
  p {
    padding: 20px 5px;
    text-align: center;
    @media only screen and (min-width: 1280px) {font-size: emCalc(24px); }
  }
  &.realistic:hover { background: $red; color: white; }
  &.investigative:hover { background: $blue; }
  &.social:hover { background: $purple; color: white; }
  &.artistic:hover { background: $orange; }
  &.conventional:hover { background: $grey; color: white; }
  &.enterprising:hover { background: $yellow; }
}

.job-card {
  @include panel(lighten($orange, 40%), 20px);
  border: none;
  h1, h3, p { color: lighten($body-font-color, 10%); }
  h1, h3 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
  }
}

.index-form a span, .index-form input[type="submit"], .sign-in-form a span, .sign-in-form input[type="submit"] { font-size: 12px; }

/// TOP SHELF
.top-bar {
  background: none;
  text-align: center;
  z-index: 2;
  margin-bottom: 0px;
  & .menu-icon {  }
  & ul {
    background: none;
    // display: inline-block;
    padding: 10px 50px;
    & li a:not(.button) {
      background: none;
      color: #bbb;
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        color: $orange;
        background: none;
      }
    }
  }
  .center { margin: 0 auto; }
  & .toggle-topbar.menu-icon a { color: #bbb }
}

@media only screen and (max-width: 1280px) {
  .top-bar {
    border-bottom: 1px solid #ddd;
    ul {
      padding: 0;
      &.right li {
        background: #efefef;
        & a { color: $body-font-color; }
      }
    }
    .right li { border-top: 1px solid #ddd; }
    &.expanded {
      .title-area { background: white; }
    }
    .toggle-topbar.menu-icon a { text-indent: -75px; }
  }
}

/// DASHING DASHBOARDS

@import "dashboard_settings.scss";

/// SURVEY STYLES

@import "survey_settings.scss";

/// JOB NAVIGATION
.job-nav {
  text-align: center;
  img {
    height: 50px;
    float: left;
  }
}

.imglink {
  opacity: 0.3;
  &:hover {
    opacity: 0.8;
  }
}

/// EXPLORE PAGE
.filters {
  padding: 50px 0 10px;
  h2 { padding-top: 9px; text-align: center; }
  .preparation, .growth {
    &:hover { background: #efefef; }
  }
}

.preparation-dropdown, .growth-dropdown, .total-filter-dropdown {
  border-top: 3px dotted #ddd;
  padding: 15px 0;
  dd {
    font-size: 1.5em;
    margin: 0 10px;
  }
  .sub-nav {
    margin: 0 auto;
    padding-top: 15px;
    padding-right: 60px;
    dd { padding-top: 5px; }
  }
}

/// SHAPELY
.circle {
  width: 100px;
  height: 100px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  top: -75px;
  @media only screen and (max-width: 1280px) { z-index: -99; }
}

.sm-circle {
  width: 100px;
  height: 100px;
  background: $blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 10px 0 20px;
}